
/* just for testing */

.create, .submit{
    background-color: rgb(72, 169, 255);
     border-color:  rgb(72, 169, 255);
    color: white; 
    padding:4px;
    margin-top: 10px;
}
form{
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
button {
    border-width: 1px;
    width: 70%;
}
.forget{
    color: grey;
    margin-left: 6px;
}
.username, .password,.email,.confirm_password{
    margin-bottom:10px ;
}
.username,.password{
    margin-right: 6%;
}
.email{
    margin-right: 8%;
}
